aenum==3.1.15
anyio
asteval==0.9.31
backoff==2.2.1
boltons
Bottleneck
brotlipy==0.7.0
cachetools==5.3.1
certifi
cffi
charset-normalizer==2.1.0
colorama==0.4.6
conda-package-handling
conda_package_streaming
contourpy
cryptography
cycler
dataclasses-json
deprecation
docopt
et-xmlfile==1.1.0
exceptiongroup
fonttools==4.25.0
funcsigs==1.0.2
future
greenlet
gs-quant==1.0.41
h11
httpcore==0.13.7
httpx==1.0.0b0
idna
importlib-resources
inflection==0.5.1
jsonpatch
jsonpointer==2.1
kiwisolver
lmfit==1.2.2
lxml
marshmallow
marshmallow-enum
matplotlib
mkl-fft
mkl-random
mkl-service==2.4.0
more-itertools==10.1.0
msgpack==1.0.7
munkres==1.1.4
mypy-extensions
mysql-connector-python==8.1.0
nest-asyncio==1.5.8
numexpr
numpy
openpyxl==3.0.10
opentracing==2.4.0
packaging
pandas
pandas-datareader
patsy==0.5.3
Pillow==10.0.1
pipreqs==0.4.13
pluggy
protobuf==4.24.3
pycosat
pycparser
pydash==7.0.6
PyDatastream==0.6.5
PyMySQL
pyodbc
pyOpenSSL
pyparsing
PySocks
python-dateutil
pytz
pywin32-ctypes==0.2.2
requests
rfc3986==1.5.0
six
sniffio
SQLAlchemy
statsmodels==0.14.0
toolz
tornado
tqdm==4.66.1
types-pywin32==306.0.0.4
typing-inspect
typing_extensions
tzdata
uncertainties==3.1.7
urllib3
websockets==11.0.3
win-inet-pton==1.1.0